body {
    margin:0;
    font-family: 'Recursive', sans-serif;
    overflow-x: hidden;
   
}

/*Navigation styling*/

nav {
    background:#266cc7;
    height:10vh;
    margin:0;
    
}

.subNav{
    background:rgb(41, 41, 41);
    height:5vh;
    
}

.subNav ul{
    margin:0;
    float:right;
    position:relative;
    height:5vh;
   
    
}

.subNav li {
    background:rgb(41, 41, 41);
    position:relative;
    top:25%;
    font-size:18px;
    display:inline;
    padding:2vh 40px 1.35vh 40px;
    color:White;
    font-family:'Courier New', Courier, monospace;   
    border-left: solid white 0.5px;
    margin-left:-5px;
    
}

.subNav li:hover {
    background:rgb(85, 85, 85);
    cursor:pointer;
}

.mainNav {
    list-style-type: none;
    position:relative;
    top:25%;
    margin:0;
    float:right;
   
    
}

.mainNav img {
    position:absolute;
    right:70vw;
    bottom:-27vh;

    width:35vw;
    height:45vh;
}

.mainNav li {
    display:inline;
    color: white;
    padding:0px 35px 0px 25px;
    font-size: 30px;
    background:#266cc7;
    padding-top: 2.4vh;
    padding-bottom:3.6vh;
    
}

.mainNav li:hover {
    background:#3088fc;
    cursor:pointer;
}

.mainNav a {
    color:white;
    text-decoration:none;
}

#logo {
    position:relative;
    right:55vw;
}

#donate {
    background:rgb(255, 115, 0);
    padding-top: 2.4vh;
    padding-bottom:3.6vh;

}

#donate:hover{
    background:orange;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display:grid;
}

.dropdown-content {
    position:absolute;
    background:rgb(41, 41, 41);
    display:none;
    grid-template-columns:1fr;
    width:185px;
    top:2.4em;
    z-index:1;
   
   
}

.dropdown-content a {
    color:White;
    text-decoration:none;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-size:25px;
}

.dropdown-content a:hover {
    background-color:lightgrey;
    color:black;
    cursor:pointer;
}



 /* Article styling */

 .articles {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    float:left;
    grid-gap: 50px;
    margin: 5vh 20vw 15vh 13vw;
}

.ArticleBG {
   color:white;
   background:black;
   width:20vw;
   margin:10px;
   padding:10px;
   box-shadow: 4px 4px rgba(0, 0, 0, 0.507);
   
}

.ArticleIMG {
   width:100%;
   height:45%;
   margin:0;
   padding:0;
}

.ArticleTitle{
    text-align: center;
}

.ArticleDescription {
    font-size: 15px;
}

.ArticleAuthor {
    font-size: 12px;
    display:grid;
    grid-template-columns:25% 1fr 1fr;
    width:60%;
    font-style:italic;
    color: #e3e3e3;
    margin-left:2.5%; 
}

.Icon {
   width:25px;
   height:25px;
   border-radius:20px;
   margin-top:10px;
   
}

.AuthorName {
   border-right:solid 1px;
}

.AuthorDate {
    margin-left: 5px;
}

.ArticleBG btn {
   position:relative;
   left: 70%;
   top:5%;
   background:rgb(187, 85, 2);
   padding: 2.5px 20px 2.5px 20px;
   text-shadow: 2px 2px 0.2px black;
   font-size: 30px;
}

.ArticleBG btn:hover {
   background:rgb(224, 102, 1);
   cursor: pointer;
}

/*Event Styling*/

.events {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:2%
    
}

.event {
    width:25vw;
    height:76vh;
    margin-left: 5%;
    margin-top:5%;
    background:black; 
    color:white;
    padding: 5px 20px 0 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.507);
}

.eventClassification {
    color:rgb(206, 204, 204);
    font-style:italic;
    padding-bottom:5px;
    padding-top:5px;
    margin:0;
}

.eventIMG {
    width:100%;
    padding:0;
    margin:0;
    
}

.eventTitle{
    margin:0 15% 0 15%;
    padding-top: 10px;
    text-align:center;
}

.event h4 {
    color:rgb(206, 204, 204);
    font-size:15px;
    font-style:italic;
    padding:0;
    margin:0;
}

.EventDetails {
    color:rgb(206, 204, 204);
    font-size:15px;
    font-style:italic;
    width:50%;
    padding:0;
    margin:0;
    
}

.eventButtons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15%;
    margin-left:20%;
    margin-top:20px;
    position:relative;
    bottom:4rem;
}

.EventBTN {
    background:rgb(187, 85, 2);
    padding:10px 20px 10px 20px;
    color:White;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.507);
    box-shadow: rgb(80, 37, 2) 2px 4px;
    width:150px;
    text-align:center;
    
}

.EventBTN:hover {
    box-shadow: none;
    background:rgb(224, 102, 1);
    cursor: pointer;
}

#Event2btn {
    position:relative;
    left:10%;
}

#Event3btn {
    position:relative;
    left:20%;
}









