/*Index specific styles*/

#Hero{
    width:100vw;
    height:80vh;
}

#HeroTitle{
    position:absolute;
    bottom: 60vh;
    left:55vw;
    font-size:50px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

#herotext {
    position:absolute;
    bottom:40vh;
    left:20vw;
    margin: 0 5% 0 25%;
    color:white;
    line-height: 40px;
    font-size:30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align:right;
    
}

.buttons {
    position:absolute;
    bottom:30vh;
    left:64vw;
    color:white;
    
    

}
 .buttons btn{
    background:rgb(187, 85, 2);
    padding:20px;
    margin: 0px 20px 0px 20px;
    border-radius:4px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.507);
    box-shadow: rgb(80, 37, 2) 2px 4px;
     
 }

 .buttons btn:hover{
    box-shadow: none;
    background:rgb(224, 102, 1);
    cursor: pointer;
 }

 h1 {
   position:relative;
   margin-left: 35%;
   margin-top: 5%;
 }

#Hero2 {
    width:100vw;
    height:80vh;
    margin:0;
}

#Hero2title {
    position:absolute;
    bottom: -120vh;
    left: 50vw;
    width:50vw;
    font-size:50px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}


#Hero2P {
    position:absolute;
    bottom:-140vh;
    margin: 0 5% 0 25%;
    color:white;
    line-height: 40px;
    font-size:30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align:right;
 
}

#hero2buttons {
    position:absolute;
    bottom:-150vh;
    left: 70vw;
    color:white;
}

#hero2buttons btn {
    background:rgb(187, 85, 2);
    padding:10px 20px 10px 20px;
    margin: 0px 20px 0px 20px;
    border-radius:4px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.507);
    box-shadow: rgb(80, 37, 2) 2px 4px;
}

#hero2buttons btn:hover {
    box-shadow: none;
    background:rgb(224, 102, 1);
    cursor: pointer;
}

/*Article toggling*/

#Article2 h3 {
    font-size:25px;
}

/*Event toggling*/

#event2 h2 {
    font-size:20px;
}



/*Footer Styling*/

footer {
    height:30vh;
    background:#266cc7;
    margin-top:5%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    color:white;
    
    
}

footer ul {
    list-style: none;
    margin-left:5%;
    
}

footer ul li {
    padding:2px;
}

footer p {
    position:absolute;
    margin-left:2.5%;
    top:402vh;
    
}