#Hero{
    background-image:url(../IMG/ML/Hero_img.jpg);
}

#Event1 {
    background-image:url(../IMG/ML/event2_IMG.jpg);
    
}

#Event2 {
    background-image:url(../IMG/ML/event1_IMG.jpg);
    background-repeat: none;
    background-size: cover;
}

