#NEHero {
    width:100vw;
    height:60vh;
    background-image: url(../IMG/NE/Hero_img.jpg);
}

#Event1 {
    background-image: url(../IMG/NE/event1_IMG.jpg);
}

#Event2 {
    background-image: url(../IMG/NE/event2_IMG.jpg);
}