body {
    margin:0;
    overflow-x: hidden;
    font-family:Arial;
    
}

#articleReturn {
    text-decoration: none;
    margin:5px;
    position:relative;
    left:20vw;
    top:20vh;
    font-size:28px;
    color:grey;
}

#bigText{
    position:relative;
    font-size:40px;
    font-style:italic;
    top:5.5em;
    width:40%;
    
    
}

h6 {
    position:relative;
    left:20%;
    font-size:20px;
    top:12em;
    font-style:italic;
    margin:0;
}

#wetlandIMG {
    position:relative;
    top:12.5em;
    left:-5%;
    margin: 0 25% 0 25%;
    box-shadow:2px 4px rgba(0, 0, 0, 0.4);
}

#frogIMG {
    position:relative;
    top:12.5em;
    left:20%;
}

p {
    margin: 2% 20% 2% 20%;
    position:relative;
    top:10em;
    font-size:25px;
    font-family:Arial;
    width:40%;
}

h1{
    position:relative;
    top:10rem;
    right:25px;
    font-size:60px;
    
}

h2{
    position:relative;
    margin: 0 20% 10em 22.5%;
    text-align:center;
    top:15rem;
    width:52%;
    font-size:40px;
    color:rgb(83, 83, 83);
    font-style: italic;
}

footer{
   
        height:30vh;
        background:#266cc7;
        margin-top:15%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        color:white;
       
    }
    
    footer ul {
        list-style: none;
    }
    
    footer h5 {
        margin-left:10%;
    }
