/*Navigation styling*/

nav {
    background:#266cc7;
    height:10vh;
    margin:0;
    
}

.subNav{
    background:rgb(41, 41, 41);
    height:5vh;
    
}

.subNav ul{
    margin:0;
    float:right;
    position:relative;
    height:5vh;
   
    
}

.subNav li {
    background:rgb(41, 41, 41);
    position:relative;
    top:25%;
    font-size:18px;
    display:inline;
    padding:2vh 40px 1.35vh 40px;
    color:White;
    font-family:'Courier New', Courier, monospace;   
    border-left: solid white 0.5px;
    margin-left:-5px;
    
}

.subNav li:hover {
    background:rgb(85, 85, 85);
    cursor:pointer;
}

.mainNav {
    list-style-type: none;
    position:relative;
    top:25%;
    margin:0;
    float:right;
   
    
}

.mainNav img {
    position:absolute;
    right:70vw;
    bottom:-27vh;

    width:35vw;
    height:45vh;
}

.mainNav li {
    display:inline;
    color: white;
    padding:0px 35px 0px 25px;
    font-size: 30px;
    background:#266cc7;
    padding-top: 2.4vh;
    padding-bottom:3.9vh;
    
}

.mainNav li:hover {
    background:#3088fc;
    cursor:pointer;
}

#logo {
    position:relative;
    right:55vw;
}

#donate {
    background:rgb(255, 115, 0);
    padding-top: 2.4vh;
    padding-bottom:3.9vh;

}

#donate:hover{
    background:orange;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display:grid;
}

.dropdown-content {
    position:absolute;
    background:rgb(41, 41, 41);
    display:none;
    grid-template-columns:1fr;
    width:185px;
    top:2.4em;
    z-index:1;
   
   
}

.dropdown-content a {
    color:White;
    text-decoration:none;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-size:25px;
}

.dropdown-content a:hover {
    background-color:lightgrey;
    color:black;
    cursor:pointer;
}

#Hero{
    width:100vw;
    height:60vh;
    background:green;
}

#HeroTitle{
    position:relative;
    top:5rem;
    font-size:70px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align:center;
}

h1{
    position:relative;
    text-align: center;
    top:10vh;
}

.highlighted {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    position:relative;
    top:4rem;
    margin-bottom:5%;
    margin-left:3%;
    width:80%;
    
}


.Highlighted_Event {
    background:blue;
    width:40vw;
    height:40vh;
    margin:10%;
    margin-top:15%;
    position:relative;   
}

#Event1 {
    background-image:url(../IMG/NW/lake_panorama.jpg);
}

#Event2 {
    background-image:url(../IMG/NW/Golden_Eagle.jpg);
}

.Highlighted_Event h6 {
    background:black;
    color:white;
    width:20%;
    text-align:center;
    padding:10px;
    position:relative;
    bottom:3.25rem;
}

.Event_Details {
    color:white;
    position:relative;
    bottom:26.9%;
    padding:10px;
    width:30%;
    height:94.7%;
    background:black;
    float:right;
    box-shadow: -4px 2px rgba(0, 0, 0, 0.479);

}

.Event_Details h3 {
    font-size:22.5px;
}

.Event_Details p {
    font-size:15px;
}

.Event_info {
    font-style:italic;
    color:rgb(201, 201, 201);
    width:80%;
    margin-top:25px;
    
}

.Highlighted_Event btn {
    background:rgb(177, 80, 2);
    color:white;
    padding: 5px 20px 5px 20px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin:5%;
    position:relative;
    top:62.5%;
}

.Articles {
    position:relative;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    width:80%;
    margin-left: 12%;
    top:5rem;
    z-index:0;
    

}

#latestArticle {
    position:relative;
    top:5vh;
}

.ArticleBTN {
    background:rgb(177, 80, 2);
    color:white;
    padding: 5px 20px 5px 20px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin:10%;
    z-index:1;
    position:relative;
    top:5vh;
}

.ArticleBTN:hover {
    background:rgb(248, 114, 4);
    cursor:pointer;
}

.ArticleBtns {
    width:80%;
    margin-left:19.5%;
}

#article2Btn {
    margin-left:16.5%;
}

#article3Btn {
    margin-left:16.8%;
}

.Seemore {
    background:rgb(228, 112, 17);
    color:white;
    padding: 5px 20px 5px 20px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 1px black;
    font-size: 35px;
    margin:5%;
    margin-bottom:15%;
    position:relative;
    left:40%;  
}

.Seemore:hover{
    background:rgb(248, 114, 4);
    cursor:pointer;
}

#SMArticles {
    top:8rem;
}

footer {
    height:30vh;
    background:#266cc7;
    margin-top:15%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    color:white;
   
}

footer ul {
    list-style: none;
}

footer p {
    margin-left:10%;
}

