#Hero {
    background-image:url(../IMG/SW/Hero_img.jpg);
}

#Event1 {
    background-image:url(../IMG/SW/event1_IMG.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
}

#Event2 {
    background-image:url(../IMG/SW/event2_IMG.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

.ArticleBG {
    height:50vh;
}